<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="origin" name="referrer" />
        <meta
            name="description"
            content="A portfolio website for MadCreativity; an independent web- and software developer available for hire."
        />
        <meta name="author" content="MadCreativity" />
        <meta property="og:title" content="Ahlgreen.NET" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Ahlgreen.NET" />
        <meta property="og:url" content="https://ahlgreen.net" />
        <link rel="canonical" href="https://ahlgreen.net" />
        <meta
            property="og:description"
            content="A portfolio website for MadCreativity; an independent web- and software developer available for hire."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" type="image/png" href="./assets/images/icon.png" />

        <title>Ahlgreen.NET</title>
    </head>
    <body>
        <div id="root"></div>

        <script src="./App.js"></script>
    </body>
</html>
