@use "adminNavbar";

.admin-layout {
    overflow: hidden;

    main {
        height: calc(100vh - 56px);
        overflow-y: auto;
        padding-top: 40px;
        margin-top: 56px;
        padding-bottom: 0;

        .page-content {
            min-height: calc(100% - 32px);
        }
    }

    .admin-content {
        display: flex;
        transform: translateX(-100%);

        &[style] {
            transition: transform 0.5s ease;
        }

        .admin-navbar {
            width: 100%;
            flex-shrink: 0;

            @media screen and (min-width: 800px) {
                width: 300px;
            }

            @media screen and (min-width: 1000px) {
                width: 400px;
            }
        }

        main {
            width: 100%;

            @media screen and (min-width: 800px) {
                width: auto;
            }
        }

        @media screen and (min-width: 800px) {
            transform: none;
            transition: none;
        }
    }

    footer .content {
        position: static;
    }
}
