$primary: #121212;
$secondary: #020202;
$dp00: rgba(255, 255, 255, 0);
$dp01: rgba(255, 255, 255, 0.05);
$dp02: rgba(44, 44, 44);
$dp03: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$highlight: #3366ff;
$alert: #ff3333;
