@import "./colors.scss";

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    flex-direction: column-reverse;
    height: 100vh;
    transform: translateY(calc(-100% + 56px));
    transition: transform 0.5s ease-in-out;
    background-color: #282828;

    @media screen and (min-width: 600px) {
        height: 56px;
        flex-direction: row;
        transform: none;
        transition: none;
        padding: 0 32px;
    }

    .header-title {
        display: none;

        @media screen and (min-width: 600px) {
            display: inline;
        }
    }

    .swipe-down-text {
        pointer-events: none;

        @media screen and (min-width: 600px) {
            display: none;
        }
    }

    .header-main {
        line-height: 56px;
        width: 100%;
        text-align: center;

        @media screen and (min-width: 600px) {
            width: auto;
            line-height: unset;
            text-align: left;
        }
    }

    nav {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 56px;
        text-align: center;
        padding: 56px 32px 0 32px;
        background-color: $primary;
        box-sizing: border-box;

        @media screen and (min-width: 600px) {
            width: auto;
            flex-direction: row;
            justify-content: unset;
            align-items: unset;
            text-align: left;
            padding: 0;
            background-color: transparent;
        }

        a {
            color: $white;
            border-radius: 0;
            display: flex;
            align-items: center;
            text-decoration: none;
            width: 100%;
            box-sizing: border-box;
            justify-content: center;
            padding: 24px 32px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            letter-spacing: 1px;
            text-transform: uppercase;

            &:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }

            @media screen and (min-width: 600px) {
                justify-content: unset;
                box-sizing: content-box;
                padding: 0 16px;
                border-bottom: 0;
                border-top: 0;
                width: auto;

                &[aria-current] {
                    background-color: rgb(44, 44, 44);
                }

                &:hover {
                    background-color: rgb(32, 32, 32);
                }
            }
        }
    }
}
