@use "base";
@use "colors";

.admin-login-container {
    display: flex;
    justify-content: center;

    form {
        text-align: center;
    }

    label {
        display: block;
        text-align: left;
    }

    input,
    button {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        margin: 10px 0;
    }

    input[type="text"],
    input[type="password"] {
        border: 1px solid rgb(48, 48, 48);
        background-color: colors.$white;
        padding: 5px 10px;
        outline: none;
        width: 100%;
    }

    button[type="submit"] {
        border: 1px solid rgb(48, 48, 48);
        background-color: transparent;
        color: white;
        letter-spacing: 1px;
        padding: 10px 25px;
        position: relative;
        overflow: hidden;
        transition: color 0.5s ease;

        span {
            position: relative;
            z-index: 10;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 150%;
            height: 100%;
            background-color: rgb(48, 48, 48);
            transform-origin: bottom left;
            transform: rotateZ(-90deg);
            z-index: 5;
            transition: transform 0.5s ease;
        }

        &:hover {
            cursor: pointer;

            &::after {
                transform: rotateZ(0);
            }
        }
    }
}
