@import "./base.scss";

.image-side-container {
    .info-wrapper {
        h1 {
            text-align: center;
            font-size: 3rem;
            margin: 0.5em 0;
            font-weight: 900;

            a {
                color: white;
                text-decoration: none;
            }

            @media screen and (min-width: 800px) {
                text-align: left;
            }
        }

        .skills {
            margin-top: 3rem;
        }
    }
}
